%div.index
	.row
		.span4.callToAction.offset3
			%b get the ansewers you need
			%br
			from anywhere. 
		.span1
			%a{ :href=> '/login'} Login
		.span7
			%small
				%a{ :href => "/questions" } List of questions