%div.index
	.row
		.span4
			%img{ :src=> 'http://placehold.it/300/300/cccccc/ffffff'}
		.span3.callToAction
			%b get the ansewers you need
			%br
			from anywhere. 
		.span1
			%small
				%a{ :href => "/questions" } List of questions