!!! 5
%html
	%head
		%title
			answer160
	%script{ :src => "jquery-1.7.1.js" }
	%link{ :href=> "bootstrap-combined.min.css", :rel=>"stylesheet"}
	%link{ :href=> 'styles.css', :rel => "stylesheet" } 
	%body
		/
			.navbar.navbar-fixed-top
				.navbar-inner
					.container
						%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
							%span.icon-bar
							%span.icon-bar
							%span.icon-bar
						%a.brand{:href => "#"} Project name
						.nav-collapse.collapse
							%ul.nav
								%li.active
									%a{:href => "#"} Home
								%li
									%a{:href => "#about"} About
								%li
									%a{:href => "#contact"} Contact
		.container
			.row
				.span1
					%h1.logo
						%a{:href=>"/"} 160
				.span2.pull-right
					-if login?
						%b
							%a{ :href=> "/me" } hello #{phoneNumber}
					-else
						%a{ :href=> '/login' } Login
			=yield
