<link href="styles.css" rel="stylesheet" />
<div id="pricing">
<section class="first">
<header>
<h1>Small</h1>
<h2>$20<span>/month</span></h2>
<div>
<ul>
<li><strong>200</strong> Questions</li>
<li><strong>10</strong> Reseached Answers</li>
<li><strong>Daily</strong> Backup</li>
<li class="last"><a class="btn" href="http://redistogo.com/signup">Select Plan</a></li>
</ul>
</div>
</header>
</section>
<section>
<header>
<h1>Large</h1>
<h2>$140<span>/month</span></h2>
<div>
<ul>
<li><strong>Unlimited</strong> Questions</li>
<li><strong>90</strong> Reseached Answers</li>
<li><strong>Daily</strong> Backup</li>
<li class="last"><a class="btn" href="http://redistogo.com/signup">Select Plan</a></li>
</ul>
</div>
</header>
</section>
<section class="on">
<header>
<h1>Medium</h1>
<h2>$50<span>/month</span></h2>
<div>
<ul>
<li><strong>500 </strong> Questions</li>
<li><strong>35</strong> Reseached Answers</li>
<li><strong>Daily</strong> Backup</li>
<li class="last"><a class="btn" href="http://redistogo.com/signup">Select Plan</a></li>
</ul>
</div>
</header>
</section>
<section class="last">
<header>
<h1>Mini</h1>
<h2>$5<span>/month</span></h2>
<div>
<ul>
<li><strong>50</strong> Questions</li>
<li><strong>1</strong> Reseached Answer</li>
<li><strong>Daily</strong> Backup</li>
<li class="last"><a class="btn" href="http://redistogo.com/signup">Select Plan</a></li>
</ul>
</div>
</header>
</section>
<p style="display:none">We also offer a <a href="http://redistogo.com/signup">free plan</a>: 5 MB memory, 1 Database, but no backups.</p>
<div style="display:none" id="heroku-pricing">
<section id="nobkgd">
<br>
<p>For on Demand Pricing. Visit one of our PaaS partners. <a href="http://www.heroku.com/addons/redistogo">Heroku</a> or <a href="https://appharbor.com/addons/redistogo">AppHarbour</a>.</p>
</section>
</div>
</div>