%h1 
	Questions (
	= @questions.length
	)
%ol
	- @questions.each do |question|
		%li
			%em
				=question.questionText
			%small
				=question.timeRecived.strftime("%a %I:%M%p")
			%a{:href=>"http://workersandbox.mturk.com/mturk/preview?groupId=#{question.hittypeid}"}
				mTurk